<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
</head>
<body>
<h1>User Login</h1>
<form th:action="@{/users/login}" method="post">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" th:value="${password}" />
    <button type="submit">Login</button>
    <script th:if="${error}" th:inline="javascript">
        alert([[${error}]]);
    </script>
</form>
</body>
</html>
